<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-comments"></span> Chat</h1>
    <h5 class="username"><%= user.username %></h5>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-tabs" id="chatRooms" style="margin-bottom: 15px;">
        <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
        <li><a id="newRoom" href="#"><span class="fa fa-plus"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="tab-content" id="chatRoomsContent">
        <div class="tab-pane fade active in" id="main"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form" role="form">
        <div class="input-group">
          <input type="text" class="form-control chatInput" placeholder="Enter message...">
          <span class="input-group-btn">
            <button class="btn btn-primary chatSend" type="button">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>

</div>