<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6 profile-info">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>

        <% if (user.username) { %>
          <p>
            <strong>ID</strong>: <%= user.id %><br>
            <strong>Username</strong>: <%= user.username %><br>
            <strong>First Name</strong>: <%= user.firstName %><br>
            <strong>Last Name</strong>: <%= user.lastName %><br>
            <strong>Email</strong>: <%= user.email %>
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
        <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
        <% } %>

      </div>
    </div>

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-6 profile-info">
      <div class="well">
        <h3 class="color-google"><span class="fa fa-google-plus"></span> Google+</h3>

        <% if (user.googleToken) { %>
          <p>
            <strong>ID</strong>: <%= user.googleId %><br>
            <strong>Token</strong>: <%= user.googleToken %><br>
            <strong>Email</strong>: <%= user.googleEmail %><br>
            <strong>Name</strong>: <%= user.googleName %>
          </p>

          <a href="/unlink/google" class="btn btn-google">Unlink</a>
        <% } else { %>
          <a href="/connect/google" class="btn btn-google">Connect Google</a>
        <% } %>

      </div>
    </div>

    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-6 profile-info">
      <div class="well">
        <h3 class="color-facebook"><span class="fa fa-facebook"></span> Facebook</h3>

        <% if (user.facebookToken) { %>
          <p>
            <strong>ID</strong>: <%= user.facebookId %><br>
            <strong>Token</strong>: <%= user.facebookToken %><br>
            <strong>Email</strong>: <%= user.facebookEmail %><br>
            <strong>Name</strong>: <%= user.facebookName %>
          </p>

          <a href="/unlink/facebook" class="btn btn-facebook">Unlink</a>
        <% } else { %>
          <a href="/connect/facebook" class="btn btn-facebook">Connect Facebook</a>
        <% } %>

      </div>
    </div>

    <!-- TWITTER INFORMATION -->
    <div class="col-sm-6 profile-info">
      <div class="well">
        <h3 class="color-twitter"><span class="fa fa-twitter"></span> Twitter</h3>

        <% if (user.twitterToken) { %>
          <p>
            <strong>ID</strong>: <%= user.twitterId %><br>
            <strong>Token</strong>: <%= user.twitterToken %><br>
            <strong>Username</strong>: <%= user.twitterUsername %><br>
            <strong>Name</strong>: <%= user.twitterName %>
          </p>

          <a href="/unlink/twitter" class="btn btn-twitter">Unlink</a>
        <% } else { %>
          <a href="/connect/twitter" class="btn btn-twitter">Connect Twitter</a>
        <% } %>

      </div>
    </div>

  </div>

</div>