<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-users"></span> Users</h1>
  </div>

  <div class="row">
  	<table class="table table-striped table-hover ">
  	  <thead>
  	    <tr>
  	      <th>Online</th>
          <th>ID</th>
  	      <th>Username</th>
  	      <th>Email</th>
  	      <th>Google</th>
  	      <th>Facebook</th>
  	      <th>Twitter</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <% users.forEach(function(u){ %>
  	    <tr data-id="<%= u.id %>">
  	      <td>
            <% if (u.online) { %>
            <span class="fa fa-check text-success"></span>
            <% } else { %>
            <span class="fa fa-times text-danger"></span>
            <% } %>
          </td>
          <td><%= u.id %></td>
  	      <td><%= u.username %></td>
  	      <td><%= u.email %></td>
  	      <td>
  	      	<% if (u.googleId) { %>
  	      	<a href="https://plus.google.com/<%= u.googleId %>" target="blank"><%= u.googleName %></a>
  	      	<% } else { %>
  	      	N/A
  	      	<% } %>
  	      </td>
  	      <td>
  	      	<% if (u.facebookId) { %>
  	      	<a href="https://facebook.com/<%= u.facebookId %>" target="blank"><%= u.facebookName %></a>
  	      	<% } else { %>
  	      	N/A
  	      	<% } %>
  	      </td>
  	      <td>
  	      	<% if (u.twitterId) { %>
  	      	<a href="https://twitter.com/<%= u.twitterUsername %>" target="blank"><%= u.twitterUsername %></a>
  	      	<% } else { %>
  	      	N/A
  	      	<% } %>
  	      </td>
  	    </tr>
  	    <% }); %>
  	  </tbody>
  	</table>
  </div>

</div>