<div class="jumbotron">
  <div class="container">
    <h1>Hello, <%= user?user.username:'world' %></h1>
    <p>Welcome to the intranet portal of our organization.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Users</h2>
      <p>View a list of the users registered, see their details or who's online.</p>
      <p><a class="btn btn-default" href="/users" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Chat</h2>
      <p>Chat with the people currently online, or leave a message on the main chat.</p>
      <p><a class="btn btn-default" href="/chat" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Profile</h2>
      <p>See and manage you profile information, add or remove social media accounts from it.</p>
      <p><a class="btn btn-default" href="/profile" role="button">View details »</a></p>
    </div>
  </div>

</div>