.dropdown-menu > li > a:hover {
	color: white;
}

.color-google {
	color: #dd4b39;
}

.color-facebook {
	color: #3b5998;
}

.color-twitter {
	color: #55acee;
}

.btn-google,
.dropdown-menu > li > a.nav-google:hover {
	color: white;
	background: #dd4b39;
	border-color: #dd4b39;
}

.btn-facebook,
.dropdown-menu > li > a.nav-facebook:hover {
	color: white;
	background: #3b5998;
	border-color: #3b5998;
}

.btn-twitter,
.dropdown-menu > li > a.nav-twitter:hover {
	color: white;
	background: #55acee;
	border-color: #55acee;
}

.profile-info p {
	overflow: hidden;
	text-overflow: ellipsis;
}

#chatRoomsContent .tab-pane {
	max-height: 400px;
	overflow-y: scroll;
}